.product-img{
    width: 95%;
    height: 300px;
    text-align: center;
}
.product-card{
    box-sizing: border-box;
    border-radius: 10px;
    width: 320px;
    height: 440px;
    margin: 10px;
    border: 2px solid #bfbfbf;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.like-btn{
    border: none;
    background-color: transparent;
}
.card-txt-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.title{
    font-size: 15px;
}
.signin-txt{
    font-size: 15px;
    color: gray;
}.product-details{
    width: 90%;
}

@media (max-width: 768px){
    .product-card{
        margin: 5px;
        width: 210px;
        height: 360px;
    }
    .product-img{
        height: 200px;
    }.title{
        font-size: 12px;
    }.signin-txt{
        font-size: 12px;
    }
}

@media (max-width : 576px) {
    .product-card{
        width: 47%;
        height: 315px;
    }
}