.product-img{
    width: 95%;
    height: 300px;
    text-align: center;
}
.product-card{
    box-sizing: border-box;
    border-radius: 10px;
    width: 320px;
    height: 440px;
    margin: 10px;
    border: 2px solid #bfbfbf;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.like-btn{
    border: none;
    background-color: transparent;
}
.card-txt-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 15px;
}
.signin-txt{
    font-size: 15px;
    color: gray;
}