header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
}
.logo-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
}
.header-list{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
select{
    border: none;
}
.dark-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #000000;
    color: #EB436B;
    height: 30px;
}.header-list-sm{
    display: none;
}.logo-div-sm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    
}

@media (max-width: 768px) {
    .header-list{
        width: 50%;
    }
}

@media (max-width : 576px) {
    .header-list{
        display: none;
    }.header-list-sm{
        display: block;
        display: flex;
        align-self: start;
        justify-content: space-around;
        width: 150px;
    }.logo-div-sm{
        display: none;
    }
}